
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("/Views/AdminLayout/HeadPartial.cshtml")


<body>


    @await Html.PartialAsync("/Views/AdminLayout/PreLoaderPartialPartial.cshtml")
 
    <div id="main-wrapper">


        @await Html.PartialAsync("/Views/AdminLayout/NavHeaderPartialPartial.cshtml")
       
      
        @await Html.PartialAsync("/Views/AdminLayout/HeaderPartialPartial.cshtml")
     
      
        @await Html.PartialAsync("/Views/AdminLayout/SidebarPartialPartial.cshtml")
       
      
       
        <div class="content-body">

           
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                              
                                    @RenderBody()
                              <br />


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
       
     
        @await Html.PartialAsync("/Views/AdminLayout/FooterPartialPartial.cshtml")
    </div>

    @await Html.PartialAsync("/Views/AdminLayout/ScriptPartialPartial.cshtml")

</body>

</html>
